// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";

.cat-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    margin-bottom: 0px;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  perspective: 1000px;
  
  &:hover p {
    color: #afafaf;
  }

  p {
    transition: transform 0.5s ease, color 0.3s ease;
    display: inline-block;
  }

  p:hover {
    transform: rotateY(360deg)
  }
}

.container {
  padding-top: 16px;
  padding-bottom: 16px;

  .content {
    display: flex;
    justify-content: space-between;
  }

  .btn-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .btn-success {
    padding: 10px 20px;
    background-color: #ADA573;
    border-color: #ADA573;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: #7F7140;
      border-color: #7F7140;
    }
  }
}
  
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.card-category:hover {
  scale: 1.05;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
