.category-container {
    h4 {
      margin: 20px 0;
      text-align: center;
    }
  
    .row {
      margin-top: 20px;
    }
  
    .btn-success {
      padding: 10px 20px;
      background-color: #ADA573;
      border-color: #ADA573;
      color: white;
      border-radius: #ccc;
      text-align: center;
      text-decoration: none;
      display: block;
      width: 100%;
  
      &:hover {
        background-color: #7F7140;
        background-color: #7F7140;
      }
    }
  
    .category-links {
      display: flex;
      justify-content: space-between;
      color: rgb(25, 25, 25);
      text-decoration: none;
      margin-top: 8px;
    }
  
    .category-links:hover {
      color: rgb(125, 125, 125);
    }
  }
  